@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

/* Basic Styles */

html, body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lato",  Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 500;
  background: url(../images/banner.jpg) fixed;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",  "Lato", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout Styles */

.logo {
  border-radius: 999px;
  margin: 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
}

#main {
  text-align: center;
}


/* Dribbble Feed Related */

.shot, .shot-image {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.dribbble-feed {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0 0 40px 0;
}

.shot {
  float: left;
  margin:1.665%;
  width: 28%;
  -webkit-box-shadow:  0px 1px 2px 0px rgba(1, 1, 1, 0.1);
  padding: 1%;
  background: #fff;
  box-shadow:  0px 1px 2px 0px rgba(1, 1, 1, 0.1);
}

.shot:hover {
  -webkit-box-shadow:  0px 1px 2px 0px rgba(1, 1, 1, 0.2);
  box-shadow:  0px 1px 2px 0px rgba(1, 1, 1, 0.2);
}

.shot-image {
  width: 100%;
}

.shot-image:hover {
  opacity: 0.7;
}

/* Media Queries */

@media handheld, only screen and (max-width: 767px) {
  .shot {
    float: left;
    margin:1.5%;
    width: 45%;
  }
}

@media handheld, only screen and (max-width: 600px) {
  .shot {
    float: none;
    margin:10% 1.5%;
    width: 93%;
    padding: 2%;
  }
}
