/*------Removes the default border thingy of body section----*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}




/*--------------------------CSS MAIN-----------------*/
body{
	font-family: 'Raleway', sans-serif;
}
#landingpage{
	background-color: #3498db;
}
.wrap{
	max-width: 960px;
	display: block;
	position: absolute;
	margin: auto;
}
#ldetails{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#chetty{
	text-align: center;
	margin-top: 20%;
	font-weight: 300;
}
#title{
	font-size: 1.4em;
	margin-top: 20px;
	color: #ecf0f1;
	font-weight: 500;
}
li{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	list-style-type: none;
}
#navbar{
	margin-top: 20px;
}
#navbar a{
	text-decoration:none;
	color: #ecf0f1;
	transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
}
#navbar a:hover{
	text-decoration: none;
	color: #1f6daa;
	transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -webkit-transition: all 0.2s ease-in 0s;
}
#socialicons{
	text-align: center;
	margin-top: 60px;
	display: block;
}
#workwrap{
	width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}
#works{
	display: block;
}
#works li{
	float:left;
	margin:10px;
}
.item {
	display: block;
	position:relative;
	float: left;
	width: 230px;
	margin: 10px;
	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}
.featured {
	width: 480px;
}

.item img {
	width: 100%;
	height: auto;
}

.item img{
	-webkit-filter: grayscale(100%);
}

.item:hover img{
	-webkit-filter: grayscale(0%);
	-webkit-transition: all 0.3s ease-in-out;
   

}

.item p{
	position: absolute;
	opacity: 0;
	bottom: 20px;
	left: 20px;
	background-color: #ffffff;
	color: #000000;
	padding: 5px;
	text-decoration: none;
	font-weight: 300;
	font-size: 1em;
	-webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.item:hover p{
	opacity: 0.8;
}

.featured img {
  width: 100%;
  height: auto;
}

