<div class="head-content">
	<div class="">
		<h1>Hi, I’m Chetty Arun</h1>
		<p>
			I am a skinny, curly haired designer from India. I know a little about a lot of things at <span class="text-link"><a href="https://razorpay.com">Razorpay</a></span>. I am almost always thinking about designing for Fintech and when I am not, I am etiher taking <span class="text-link"><a href="https://twitter.com/ChettyArun/status/1199189033420763136">mock interviews</a></span> or I am at the gym deadlifting. 
			<br><br>
			I am currently heading the Razorpay Payments and Capital design teams. You can find me on <span class="text-link"><a href="https://twitter.com/ChettyArun" target="_blank">Twitter</a></span>, <span class="text-link"><a href="https://www.instagram.com/chettyarun/" target="_blank">Instagram</a><span> and on <span class="text-link"><a href="mailto:me@chettyarun.com?Subject=Hello!">email</a></span>.
			<br><br>
			Here's what I am upto...
		</p>
	</div>
</div>