<div class="head-content">
	<div class="">
		<h1>Hi, I’m Chetty Arun</h1>
		<p>
			I am a skinny, curly haired designer from India. I am a part of the core founding team at <span class="text-link"><a href="https://razorpay.com">Razorpay</a></span>. Being a part of this amazing team since the inception, I know a little about a lot of things. I am almost always thinking about designing for Fintech and when I am not, I am either taking <span class="text-link"><a href="https://twitter.com/ChettyArun/status/1199189033420763136">mock interviews</a></span> or I am at the gym deadlifting. 
			<br><br>
			I've setup the design function from scratch at Razorpay. And, I am currently heading a few teams there. You can find me on <span class="text-link"><a href="https://twitter.com/ChettyArun" target="_blank">Twitter</a></span>, <span class="text-link"><a href="https://www.instagram.com/chettyarun/" target="_blank">Instagram</a><span> and on <span class="text-link"><a href="mailto:me@chettyarun.com?Subject=Hello!">email</a></span>.
			<br><br>
			Here's what I am upto...
		</p>
	</div>
</div>
