// Animation fade-in
@keyframes fadein {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.8;
    }
}

// Animation blur
@keyframes blur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(4px);
    }
}

// Responsive embed video
.embed-responsive {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 20px;

    iframe,
    object,
    embed {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

// 404 page
.main-404 {
    padding: 9rem 0;
    text-align: center;
}


.main-404 a {
    color: inherit;
    text-decoration-color: $smoke;
    text-decoration: none;
    background-color: #F2F2F2;
    padding: 1px 3px;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 2px solid #F2F2F2;
    

    &:hover {
    color: inherit;
    text-decoration: none;
    background-color: #E8E8E8;
    padding: 1px 3px;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 2px solid #D4D4D4;
    }

    &:focus {
      color: $text-link-blue;
    }
  }